@using YourNamespace.Models;
@model Product
@{
    ViewBag.Title = "Cart";
    // Get the products and order from the viewbag if it is not null
   var products = ViewBag.Products as List<Product>;
    var order = ViewBag.Order as Order;
}


    <div class="page-container">
        <h3>Prodotti</h3>
         
            <div class="field field-select">
            <select name="product" placeholder="Prodotto">
              @foreach (var product in products)
              {
                <option value="@product.Name">@product.Name</option>
              }
            </select>


          </div>
        <h3>Carrello</h3>
        <section class="cart-items">
            <table class="cart-items">
                <thead>
                    <tr>
                        <th></th>
                        <th>Prodotto</th>
                        <th>Prezzo</th>
                        <th>Quantità</th>
                        <th>Totale</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderProduct in order.OrderProducts)
                    {
                        <tr>
                            <td class="cart-action tac">
                               <form asp-action="RemoveProduct" method="post">
                                <input type="hidden" name="orderProductId" value="@orderProduct.Id" />
                                <button type="submit" class="cart-remove">X</button>
                            </form>
                            </td>
                            <td class="cart-item">@orderProduct.Product.Name</td>
                            <td class="cart-price tar">@orderProduct.Product.Price</td>
                            <td class="cart-action cart-quantity tac">
                                <form asp-action="DecreaseProductQuantity" method="post">
                                    <input type="hidden" name="orderProductId" value="@orderProduct.Id" />
                                    <button type="submit" class="cart-quantity-minus" @(orderProduct.Quantity <= 1 ? "disabled" : "")>-</button>
                                </form>
                                <span class="cart-quantity-value">@orderProduct.Quantity</span>
                                <form asp-action="IncreaseProductQuantity" method="post">
                                    <input type="hidden" name="orderProductId" value="@orderProduct.Id" />
                                    <button type="submit" class="cart-quantity-plus" 
                                         @(products.First(p => p.Id == orderProduct.ProductId).StockQuantity <= orderProduct.Quantity ? "disabled" : "")>+</button>
                                </form>
                            </td>
                            <td class="row-total tar">
                                @orderProduct.Price
                                <br />
                                @if (order.CouponId != null)
                                {
                                @orderProduct.PriceWithCoupon
                                }
                                </td>
                        </tr>
                    }


                    
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td class="cart-total tar">
                            @order.TotalAmount
                            @if (order.CouponId != null)
                            {
                                <br />
                                @order.Coupon.PercentageDiscount
                                <br />
                                @order.TotalAmountWithCoupon
                            }


                            
                            </td>

                    </tr>

                </tfoot>
            </table>
        </section>
        <!-- Would be great to do this with AJAX -->
                <section class="cart-coupon tar">

        <form asp-action="ApplyCoupon" method="post">
            <input type="text" name="couponCode" />
            <button type="submit">Applica coupon</button>
        </form>
                </section>



        <section class="tar">
            <a class="button" href="./user-info.html">Procedi</a>
        </section>
    </div>
